<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longlive.kmong.DAO.Order">
<insert id="setOrder" parameterType="com.longlive.kmong.DTO.PaymentsRequestDto">
    INSERT INTO orders
    (order_Id,
    order_method,
    user_Id,
    board_Id,
    order_price


    )
    values (
    null,
    #{method},
    #{userId},
    #{boardId},
    #{amount}
    )
</insert>

    <select id="getOrder" parameterType="Long" resultType="com.longlive.kmong.DTO.UserOrderDto">
        select o.order_Id as orderId , o.createtime as orderTime, b.board_title as orderName,o.order_price as orderPrice , o.order_status as orderStatus
        from orders o , board b
        where o.board_Id = b.board_Id
        and o.user_Id = #{userId}
    </select>

    <update id="updateStatus" parameterType="Long">
        update orders set
        order_status = 1
        where order_Id = #{orderId}
    </update>

    <update id="updateStatus2" parameterType="Long">
        update orders set
        order_status = 2
        where order_Id = #{orderId}
    </update>

    <select id="getboardId" parameterType="String" resultType="String">
        select board_id
        from orders
        where order_id = #{orderId}

    </select>

</mapper>