<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:fragment="headerFragment">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">숨고</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">고수찾기</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">커뮤니티</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/map">지도</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/chat" sec:authorize="isAuthenticated()">채팅</a>
    </li>


      <li class="nav-item" sec>
        <a class="nav-link" href="/loginForm" sec:authorize="isAnonymous()">로그인</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sign-up" sec:authorize="isAnonymous()">회원가입</a>
      </li>

    <li class="nav-item">
      <img class="nav-link" href="" sec:authorize="isAuthenticated()" th:src="'resources/user/'+${image}" alt="img" style="height:45px"></img>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" sec:authorize="isAuthenticated()"
         th:text="${#authentication.getPrincipal().dto.user_name}+'님'">

      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>

      </ul>
    </li>




  </ul>


</th:block>
</html>