<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:fragment="headerFragment">

  <nav class="navbar navbar-expand-lg navbar-light bg-white" style="height:80px;">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/img/logo.jpg" style="width: 80px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/loginForm" sec:authorize="isAnonymous()">로그인</a>
          <li class="nav-item">
                  <a class="nav-link" href="/sign-up" sec:authorize="isAnonymous()">회원가입</a>
          </li>

          <li class="nav-item">
                  <img class="nav-link" href="" sec:authorize="isAuthenticated()" th:src="'https://ec2-myawsbucket.s3.ap-northeast-2.amazonaws.com/image/'+${#authentication.getPrincipal().dto.user_image}" alt="img" style="height:45px"></img>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" sec:authorize="isAuthenticated()"
                     th:text="${#authentication.getPrincipal().dto.user_name}+'님'">

                  </a>
                  <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
                  <li><a class="dropdown-item" href="/user/account-update">계정설정</a></li>
                  <li><a class="dropdown-item" href="/user/profile">프로필</a></li>
                  <li><a class="dropdown-item" href="/user/order">주문목록</a></li>
                  <li><a class="dropdown-item" href="/board/write">글쓰기</a></li>

                </ul>
              </li>
        </ul>
      </div>
    </div>
  </nav>


<!--  <ul class="nav justify-content-center" data-bs-theme="dark">-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link active" aria-current="page" href="/">숨고</a>-->
<!--    </li>-->


<!--    <li class="nav-item">-->
<!--      <a class="nav-link" href="/chat" sec:authorize="isAuthenticated()">채팅</a>-->
<!--    </li>-->


<!--      <li class="nav-item" sec>-->
<!--        <a class="nav-link" href="/loginForm" sec:authorize="isAnonymous()">로그인</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="/sign-up" sec:authorize="isAnonymous()">회원가입</a>-->
<!--      </li>-->

<!--    <li class="nav-item">-->
<!--      <img class="nav-link" href="" sec:authorize="isAuthenticated()" th:src="'/resources/user/'+${#authentication.getPrincipal().dto.user_image}" alt="img" style="height:45px"></img>-->
<!--    </li>-->

<!--    <li class="nav-item dropdown">-->
<!--      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" sec:authorize="isAuthenticated()"-->
<!--         th:text="${#authentication.getPrincipal().dto.user_name}+'님'">-->

<!--      </a>-->
<!--      <ul class="dropdown-menu">-->
<!--        <li><a class="dropdown-item" href="/logout">로그아웃</a></li>-->
<!--        <li><a class="dropdown-item" href="/user/account-update">계정설정</a></li>-->
<!--        <li><a class="dropdown-item" href="/user/profile">프로필</a></li>-->
<!--        <li><a class="dropdown-item" href="/user/order">주문목록</a></li>-->
<!--        <li><a class="dropdown-item" href="/board/write">글쓰기</a></li>-->

<!--      </ul>-->
<!--    </li>-->




<!--  </ul>-->


</th:block>
</html>