<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="headerFragment">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">숨고</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">고수찾기</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">커뮤니티</a>
    </li>



      <li class="nav-item">
        <a class="nav-link" href="/loginForm">로그인</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sign-up">회원가입</a>
      </li>


  </ul>


</th:block>
</html>