<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../css/sidebar.css">
</head>
<body>

<th:block th:fragment="sidebar(menu)">
  <div class="sidebar">
    <ul class="nav nav-pills ms-2 mt-2 me-2">
      <li>
        <a href="#" class="nav-link"
           th:href="@{/user/account-update}" th:classappend="${menu} == 'userupdate' ? 'active'">
          <i class="fas fa-user-circle"></i> 내 정보
        </a>
      </li>
      <li>
        <a href="#" class="nav-link"
           th:href="@{/dashboard/myItems(page=1)}" th:classappend="${menu} == 'myItems' ? 'active'">
          <i class="fas fa-file-alt"></i> 내 게시글
        </a>
      </li>
      <li>
        <a href="#" class="nav-link"
           th:href="@{/dashboard/myComments(page=1)}" th:classappend="${menu} == 'myComments' ? 'active'">
          <i class="fas fa-comment"></i> 내 댓글
        </a>
      </li>
      <li>
        <a href="#" class="nav-link"
           th:href="@{/user/order}" th:classappend="${menu} == 'order' ? 'active'">
          <i class="fas fa-heart"></i> 주문목록
        </a>
      </li>

      <li>
        <a href="#" class="nav-link"
           th:href="@{/user/profile}" th:classappend="${menu} == 'userprofile' ? 'active'">
          <i class="fas fa-wallet"></i> 프로필
        </a>
      </li>
      <li>
        <a href="#" class="nav-link"
           th:href="@{/chat}" th:classappend="${menu} == 'chat' ? 'active'">
          <i class="fas fa-comments"></i> 채팅목록
        </a>
      </li>
    </ul>
  </div>



  <div class="sidebar mobile" style="width: 4rem;">
    <ul class="nav nav-pills text-center">
      <li>
        <a href="#" class="nav-link py-3 border"
           th:href="@{/dashboard/myInfo}" th:classappend="${menu} == 'myInfo' ? 'active'">
          <i class="fas fa-user-circle"></i>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border"
           th:href="@{/dashboard/myItems(page=1)}" th:classappend="${menu} == 'myItems' ? 'active'">
          <i class="fas fa-file-alt"></i>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border"
           th:href="@{/dashboard/myComments(page=1)}" th:classappend="${menu} == 'myComments' ? 'active'">
          <i class="fas fa-comment"></i>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border"
           th:href="@{/dashboard/myFavorites(page=1)}" th:classappend="${menu} == 'myFavorites' ? 'active'">
          <i class="fas fa-heart"></i>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border"
           th:href="@{/basket}" th:classappend="${menu} == 'myBasket' ? 'active'">
          <i class="fas fa-shopping-basket"></i>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border"
           th:href="@{/dashboard/myOrders(page=1)}" th:classappend="${menu} == 'myOrders' ? 'active'">
          <i class="fas fa-wallet"></i>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border"
           th:href="@{/dashboard/myChat}" th:classappend="${menu} == 'myChat' ? 'active'">
          <i class="fas fa-comments"></i>
        </a>
      </li>
    </ul>
  </div>
</th:block>
</body>
</html>