#oauth-login{
   margin-top :1rem;
}

#kakao {
    margin-left: 2rem;
    margin-right: 2rem;
}

.form-control {
font-size: 1.5rem;
}
 .error-message {
    color: red;
    font-size: 15px;
  }
.user-find {
display: flex;
justify-content: center;
}
.id-find {
padding-right:2rem;
display: inline;
}
.pw-find {
dsiplay: inline;
}