<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
  #loginForm {
  width : 50%
  }
</style>
<body layout:fragment="content">
<!--로그인 폼-->
 <div id="container">
   <div class="d-flex justify-content-center">
     <form>
       <div class="mb-3">
         <label for="username" class="form-label">Username</label>
         <input type="text" class="form-control" id="username" placeholder="Enter your username">
       </div>
       <div class="mb-3">
         <label for="password" class="form-label">Password</label>
         <input type="password" class="form-control" id="password" placeholder="Enter your password">
       </div>
       <button type= "submit" class= "btn btn-primary">Login</button>
     </form>
   </div>

 </div>

</body>
</html>