<!DOCTYPE html>
<!--관련 Namespace 선언 및 layout:decorate 추가-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
<!--  layout.html 에 들어간 head 부분을 제외하고 개별 파일에만 적용되는 head 부분 추가-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
<!--  필요하다면 개별파일에 사용될 css/js 선언-->
</head>

<!--   layout.html 에 정의한 main page 부분-->
<body layout:fragment="content">
<div>이건 메인에서 만들었고</div>

<form action="/register" method="post">
  <label for="user_id">아이디:</label>
  <input type="text" id="user_id" name="user_id" required><br>

  <label for="user_password">비밀번호:</label>
  <input type="password" id="user_password" name="user_password" required><br>

  <label for="user_name">이름:</label>
  <input type="text" id="user_name" name="user_name"><br>

  <label for="user_address">주소:</label>
  <input type="text" id="user_address" name="user_address"><br>

  <label for=user_phonenum>전화번호:</label>
  <input type=text placeholder=010-1234-5678 id=user_phonenum name=user_phonenum required><br>

  <label>성별:</label>
  <input type=radio value=남자 name=user_gender checked>남자
  <input type=radio value=여자 name=user_gender>여자<br>

  <label for=user_nickname>닉네임:</label>
    <input tpye=text id=user_nickname name=user_nickname><br>

    <button type=submit>회원가입</button>
</form>

</body>
</html>