<!DOCTYPE html>
<!--관련 Namespace 선언 및 layout:decorate 추가-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<!--  layout.html 에 들어간 head 부분을 제외하고 개별 파일에만 적용되는 head 부분 추가-->
<!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">-->
<!--  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>-->
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function goChat(nickname){
    let myNickname = document.querySelector(".loginMemberNickname").value;

    if(myNickname == ""){
        alert("회원만 채팅기능을 이용할 수 있습니다.");
        return;
    }

    if(nickname == myNickname){
        alert("자기자신과는 채팅할 수 없습니다.");
        return;
    }

    let roomId = 0;
    fetch("/chat/"+nickname, {
        method: "post"
    })
    .then((res) => res.json())
    .then((json) => {
        roomId = json;
        console.log(roomId);
        window.location.replace("/chat/"+roomId+"/"+nickname);
    });
}
    </script>
<!--  필요하다면 개별파일에 사용될 css/js 선언-->
</head>

<!--   layout.html 에 정의한 main page 부분-->
<body layout:fragment="content">
<div>이건 메인에서 만들었고</div>
<div onclick="goChat(123)" class="num">123과 채팅하기</div>
<div onclick="goChat('aa')" class="eng">aa와 채팅하기</div>

</div>
<input type="hidden" sec:authorize="isAuthenticated()" class="loginMemberNickname" th:value="${user.user_name}">-
</div>



</body>
</html>