<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <title>주문 페이지</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

  <style>
    body {
      background-color: #f8f9fa;
    }
    .card {
      margin-top: 20px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    }
    .card-title {
      font-weight: 600;
      color: #6c757d;
    }
    .card-text {
      color: #6c757d;
    }
    .btn-primary {
      background-color: #6c757d;
      border-color: #6c757d;
    }
  </style>
</head>
<body layout:fragment="content">
<script>

const baseUrl = window.location.pathname;   //posts    //posts/novel
var id = baseUrl.replace("/order/", "");

       var price;

window.onload = function() {
    var myNickname = document.querySelector(".loginMemberNickname").value;
    var myEmail = document.querySelector(".loginMemberEmail").value;
    var myId = document.querySelector(".loginMemberId").value;
    var paymentButton = document.getElementById('paymentButton');

    if (paymentButton) {
        paymentButton.addEventListener('click', onPaymentButtonClicked);
    }



  $(document).ready(function(){
    loadOrder();
});
    function loadOrder(){
    $.ajax({
        url: "/api/order/"+id,
        type: "get",
        success: function(data){
            replacePost(data);

        },
        error: function(error){
            alert(error.responseJSON.message);
            window.location.replace("/");
        }
    });
}


function replacePost(post){
    document.querySelector("#title").innerHTML = post.productName;
    document.querySelector("#price").innerHTML = post.productPrice;
    document.querySelector("#detail").innerHTML = post.productDetail;
    price = post.productPrice;
}



// 각 결제 방법에 대한 함수를 정의합니다.
function kakaoPay() {
    console.log('카카오페이를 선택하였습니다.');
    // 카카오페이 결제 로직을 여기에 작성하세요.
    console.log($('#userid'));
	var IMP = window.IMP;
	IMP.init('imp68474220');
	IMP.request_pay({
		pg : 'kakaopay.TC0ONETIME',
		pay_method : 'card',
		merchant_uid : 'merchant_' + new Date().getTime(),   //주문번호
		name : 'GOOTTFLEX',                                  //상품명
		amount : price ,                    //가격
		//customer_uid : buyer_name + new Date().getTime(),  //해당 파라미터값이 있어야 빌링 키 발급 시도
		buyer_email : myEmail,             //구매자 이메일
		buyer_name : myNickname,                           //구매자 이름
		//buyer_tel : 'hp',                                    //전화번호
		//buyer_addr : 'addr',	                             //주소
		//buyer_postcode : '123-456'                           //우편번호
	},function(data){
		if(data.success){
			var msg = "결제 완료";
            msg += '고유ID : ' + data.imp_uid;                //아임포트 uid는 실제 결제 시 결제 고유번호를 서버와 비교해서 결제처리하는데 필요없긴함.
            msg += '// 상점 거래ID : ' + data.merchant_uid;
            msg += '// 결제 금액 : ' + data.paid_amount;
            msg += '// 카드 승인번호 : ' + data.apply_num;

            $.ajax({
            	type : 'post',
            	url : '/api/order/paySuccess',
            	data : {"userId" : myId, "amount" : data.paid_amount,"method" : "kakaopay", "boardId" : id },
            });
        }else{
        	var msg = "결제 실패"
        	msg += "에러 내용" + rsp.error_msg;
        }
		alert(msg);
		document.location.href="/board/" + id;
	});
}



function phonePayment() {
    console.log('휴대폰 결제를 선택하였습니다.');
    // 휴대폰 결제 로직을 여기에 작성하세요.
    var IMP = window.IMP;
	IMP.init('imp68474220');
	IMP.request_pay({
		pg : 'danal.A010002002',
		pay_method : 'phone',
		merchant_uid : 'merchant_' + new Date().getTime(),   //주문번호
		name : 'GOOTTFLEX',                                  //상품명
		amount : price ,                    //가격
		//customer_uid : buyer_name + new Date().getTime(),  //해당 파라미터값이 있어야 빌링 키 발급 시도
		buyer_email : myEmail,             //구매자 이메일
		buyer_name : myNickname,                           //구매자 이름
		//buyer_tel : 'hp',                                    //전화번호
		//buyer_addr : 'addr',	                             //주소
		//buyer_postcode : '123-456'                           //우편번호
	},function(data){
		if(data.success){
			var msg = "결제 완료";
            msg += '고유ID : ' + data.imp_uid;                //아임포트 uid는 실제 결제 시 결제 고유번호를 서버와 비교해서 결제처리하는데 필요없긴함.
            msg += '// 상점 거래ID : ' + data.merchant_uid;
            msg += '// 결제 금액 : ' + data.paid_amount;
            msg += '// 카드 승인번호 : ' + data.apply_num;

            $.ajax({
            	type : 'post',
            	url : '/api/order/paySuccess',
            	data : {"userId" : myId, "amount" : data.paid_amount,"method" : "phone", "boardId" : id },
            });
        }else{
        	var msg = "결제 실패"
        	msg += "에러 내용" + rsp.error_msg;
        }
		alert(msg);
		document.location.href="/board/" + id;
	});
}

function creditCardPayment() {
    console.log('신용카드 결제를 선택하였습니다.');
    // 신용카드 결제 로직을 여기에 작성하세요.
}

// "결제하기" 버튼의 'click' 이벤트를 감지하는 함수를 정의합니다.
function onPaymentButtonClicked() {
    var selectedPaymentMethodInput = document.querySelector('input[name="paymentMethod"]:checked');

    if (selectedPaymentMethodInput) {
        var selectedPaymentMethod = selectedPaymentMethodInput.value;

        if (selectedPaymentMethod === 'kakaopay') {
            kakaoPay();
        } else if (selectedPaymentMethod === 'phone') {
            phonePayment();
        } else if (selectedPaymentMethod === 'paypal') {
            creditCardPayment();
        }
    } else {
        console.log('결제 수단을 선택해주세요.');
    }
}

// 페이지가 로드되었을 때 실행되는 코드입니다.
}




</script>
<div class="container">
  <h1 class="text-center" style="margin-top: 20px; color: #6c757d;">주문 정보 확인</h1>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">주문 상품</h5>
          <p class="card-text"><strong>상품명:</strong> <span id="title">[숨고 특별혜택전] 에어팟 리퍼 서비스</span></p>
<!--          <p class="card-text"><strong>상품 옵션:</strong> 에어팟 2세대 양쪽 유닛 리퍼(보증금 30000원 포함가)</p>-->
<!--          <p class="card-text"><strong>상세 내용:</strong> 에어팟 2세대 양쪽 유닛 리퍼 상품입니다. 119,000원은 보증금 30,000원 포함가입니다. 고객님께서 현재 사용 중인 에어팟 외관 등급을 숨고 '리팟' 카카오톡 채널로 알려주세요~! 에어팟 2세대의 경우는 우선배송 서비스를 진행하고 있습니다. 따라서 '리팟' 카카오톡 채널로 고객님이 에어팟 1세대를 받으시고자 하시는 주소와 휴대폰 번호 그리고 추후 보증금 환불 받으실 계좌번호를 알려주세요! 양쪽 프로 1세대 유닛 리퍼 서비스 가격은 89,000원입니다. 우선배송 보증금(30,000) 포함 시 119,000원 보증금은 리팟에게 에어팟을 받으신 봉투에 기존 사용하던 에어팟을 넣어서 반송해주시면 에어팟 검수 후 보증금(30,000원) 계좌로 환불해드립니다.</p>-->
          <p class="card-text"><strong>상품 내용:</strong> <span id="detail"></span></p>
          <p class="card-text"><strong>상품 가격:</strong> <span id="price"></span></p>
          <hr>
          <h5 class="card-title">결제 정보 입력</h5>
          <div class="form-group">
            <label for="">결제 수단:</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="paymentMethod" id="kakaopay" value="kakaopay" required>
              <label class="form-check-label" for="kakaopay">카카오페이</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="paymentMethod" id="phone" value="phone" required>
              <label class="form-check-label" for="phone">휴대폰결제</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="paymentMethod" id="paypal" value="paypal" required>
              <label class="form-check-label" for="paypal">신용카드</label>
            </div>
          </div>
          <input type="hidden"  class="loginMemberNickname" th:value="${#authentication.getPrincipal().dto.user_name}">
          <input type="hidden"  class="loginMemberEmail" th:value="${#authentication.getPrincipal().dto.user_email}">
          <input type="hidden"  class="loginMemberId" th:value="${#authentication.getPrincipal().dto.user_id}">

          <button type="submit" class="btn btn-primary" id="paymentButton">결제하기</button>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>
