<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    .btn-upload {
  width: 150px;
  height: 30px;
  background: #fff;
  border: 1px solid rgb(77,77,77);
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: rgb(77,77,77);
    color: #fff;
  }
}

#fileInput {
  display: none;
}

select {
  width: 200px; /* 원하는 너비설정 */
  padding: .8em .5em; /* 여백으로 높이 설정 */
  font-family: inherit;  /* 폰트 상속 */
  background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%; /* 네이티브 화살표 대체 */
  border: 1px solid #999;
  border-radius: 0px; /* iOS 둥근모서리 제거 */
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

select {
  -webkit-appearance: none;  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  background: url(이미지 경로) no-repeat 95% 50%;  /* 화살표 모양의 이미지 */
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
  display: none;
}
</style>
</head>
<body layout:fragment="content">
<label for="fileInput">
    <div class="btn-upload">프로필 변경</div>
</label>
<input type="file" id="fileInput">
<img id="imagePreview" th:src="'/resources/user/'+${#authentication.getPrincipal().dto.user_image}" style="width:85px;height:85px;">

<form method="post" action="/user/profile/nameUpdate" id="nameForm">
<div><span>이름</span><a id="update" onclick="update()">수정</a><a style="display:none" id="save" onclick="return save()">저장</a></div>
<div th:text="${#authentication.getPrincipal().dto.user_name}" id="nameDiv"></div>
<input type="text" style="display:none" id="nameInput" name="nameInput" th:value="${#authentication.getPrincipal().dto.user_name}">
</form>

<form method="post" action="/user/profile/serviceUpdate" id="serviceForm">
<div><span>대표서비스</span><a id="update2" onclick="update2()">수정</a><a style="display:none" id="save2" onclick="return save2()">저장</a></div>
<div th:text="${profile?.profile_service}" id="serviceDiv"></div>
<input type="text" style="display:none" id="serviceInput" name="serviceInput" th:value="${profile?.profile_service}">
</form>

<form method="post" action="/user/profile/introduceUpdate" id="introduceForm">
<div><span>한줄소개</span><a id="update3" onclick="update3()">수정</a><a style="display:none" id="save3" onclick="return save3()">저장</a></div>
<div th:text="${profile?.profile_introduce}" id="introduceDiv" ></div>
<input type="text" style="display:none" id="introduceInput" name="introduceInput" th:value="${profile?.profile_introduce}">
</form>

<form method="post" action="/user/profile/addressUpdate" id="addressForm">
<div><span>활동지역</span><a id="update4" onclick="api()">수정</a></div>
<div th:text="${profile?.profile_address}" id="address"></div>
<input type="hidden" id="addressInput" name="addressInput">
</form>

<form method="post" action="/user/profile/timeUpdate" id="timeForm">
 <div>연락 가능 시간<a onclick="update5()" id="update5">수정</a><a style="display:none" id="save5" onclick="save5()">저장</a></div>
<div th:text="${profile?.profile_time}" id="timeDiv"></div>
    <input type="hidden" name="timeRange" id="timeRange">
<div id="timeInput" style="display:none">

    <select id="startTime">
        <option selected value="오전 12시 -">오전 12:00시</option>
        <option value="오전 1시 -">오전 1:00시</option>
        <option value="오전 2시 -">오전 2:00시</option>
        <option value="오전 3시 -">오전 3:00시</option>
        <option value="오전 4시 -">오전 4:00시</option>
        <option value="오전 5시 -">오전 5:00시</option>
        <option value="오전 6시 -">오전 6:00시</option>
        <option value="오전 7시 -">오전 7:00시</option>
        <option value="오전 8시 -">오전 8:00시</option>
        <option value="오전 9시 -">오전 9:00시</option>
        <option value="오전 10시 -">오전 10:00시</option>
        <option value="오전 11시 -">오전 11:00시</option>
        <option value="오전 12시 -">오전 12:00시</option>
        <option value="오후 1시 -">오후 1:00시</option>
        <option value="오후 2시 -">오후 2:00시</option>
        <option value="오후 3시 -">오후 3:00시</option>
        <option value="오후 4시 -">오후 4:00시</option>
        <option value="오후 5시 -">오후 5:00시</option>
        <option value="오후 6시 -">오후 6:00시</option>
        <option value="오후 7시 -">오후 7:00시</option>
        <option value="오후 8시 -">오후 8:00시</option>
        <option value="오후 9시 -">오후 9:00시</option>
        <option value="오후 10시 -">오후 10:00시</option>
        <option value="오후 11시 -">오후 11:00시</option>
        <option value="오후 12시 -">오후 12:00시</option>
    </select>
    <span>부터</span>
    <select id="endTime">
        <option selected value="오전 12시">오전 12:00시</option>
        <option value="오전 1시">오전 1:00시</option>
        <option value="오전 2시">오전 2:00시</option>
        <option value="오전 3시">오전 3:00시</option>
        <option value="오전 4시">오전 4:00시</option>
        <option value="오전 5시">오전 5:00시</option>
        <option value="오전 6시">오전 6:00시</option>
        <option value="오전 7시">오전 7:00시</option>
        <option value="오전 8시">오전 8:00시</option>
        <option value="오전 9시">오전 9:00시</option>
        <option value="오전 10시">오전 10:00시</option>
        <option value="오전 11시">오전 11:00시</option>
        <option value="오전 12시">오전 12:00시</option>
        <option value="오후 1시">오후 1:00시</option>
        <option value="오후 2시">오후 2:00시</option>
        <option value="오후 3시">오후 3:00시</option>
        <option value="오후 4시">오후 4:00시</option>
        <option value="오후 5시">오후 5:00시</option>
        <option value="오후 6시">오후 6:00시</option>
        <option value="오후 7시">오후 7:00시</option>
        <option value="오후 8시">오후 8:00시</option>
        <option value="오후 9시">오후 9:00시</option>
        <option value="오후 10시">오후 10:00시</option>
        <option value="오후 11시">오후 11:00시</option>
        <option value="오후 12시">오후 12:00시</option>
    </select>
</div>
</form>

<form method="post" action="/user/profile/deployeeUpdate" id="deployeeForm">
<div>직원 수<a onclick="update6()" id="update6">수정</a><a style="display:none" id="save6" onclick="save6()">저장</a></div>
<div th:text="${profile?.profile_deployee}" id="deployeeDiv"></div>
<div id="deployeeInput" style="display:none">
    <input type="hidden" id="deployee" name="deployee">
    <select id="deployeeSelect">
        <option selected value="직원 1명">직원 1명(본인포함)</option>
        <option value="직원 1명">직원 1명(본인포함)</option>
        <option>직원 2명</option>
        <option>직원 3명</option>
        <option>직원 4명</option>
        <option>직원 5명</option>
        <option>직원 10명</option>
        <option>직원 20명</option>
        <option>직원 30명</option>
        <option>직원 40명</option>
        <option>직원 50명</option>
    </select>
</div>
</form>

<form method="post" action="/user/profile/detailUpdate" id="detailForm">
<div><span>상세설명</span><a id="update7" onclick="update7()">수정</a><a style="display:none" id="save7" onclick="save7()">저장</a></div>
<div th:text="${profile?.profile_detail}" id="detailDiv"></div>
<textarea style="display:none" id="detailInput" name="detail"></textarea>
</form>

<div></div>
<script>
function update() {
      document.getElementById("update").style.display = "none";
       document.getElementById("nameDiv").style.display = "none";
      document.getElementById("save").style.display = "inline-block";
      document.getElementById("nameInput").style.display = "inline-block";
    }

    function save() {
      document.getElementById("update").style.display = "inline-block";
      document.getElementById("nameDiv").style.display = "inline-block";
      document.getElementById("save").style.display = "none";
      document.getElementById("nameInput").style.display = "none";

      if(document.getElementById("nameInput").value==''){
	alert("이름을 입력해주십시오.");
	return false;
}

 nameInput.setAttribute('name', 'nameInput');
document.getElementById('nameForm').submit();
    }

    function update2() {
      document.getElementById("update2").style.display = "none";
       document.getElementById("serviceDiv").style.display = "none";
      document.getElementById("save2").style.display = "inline-block";
      document.getElementById("serviceInput").style.display = "inline-block";
    }

    function save2() {
      document.getElementById("update2").style.display = "inline-block";
      document.getElementById("serviceDiv").style.display = "inline-block";
      document.getElementById("save2").style.display = "none";
      document.getElementById("serviceInput").style.display = "none";

       if(document.getElementById("serviceInput").value==''){
	alert("이름을 입력해주십시오.");
	return false;
}

 serviceInput.setAttribute('service', 'serviceInput');
document.getElementById('serviceForm').submit();
    }

     function update3() {
      document.getElementById("update3").style.display = "none";
       document.getElementById("introduceDiv").style.display = "none";
      document.getElementById("save3").style.display = "inline-block";
      document.getElementById("introduceInput").style.display = "inline-block";
    }

    function save3() {
      document.getElementById("update3").style.display = "inline-block";
      document.getElementById("introduceDiv").style.display = "inline-block";
      document.getElementById("save3").style.display = "none";
      document.getElementById("introduceInput").style.display = "none";

       if(document.getElementById("introduceInput").value==''){
	alert("이름을 입력해주십시오.");
	return false;
}

document.getElementById('introduceForm').submit();
    }

    function api() {
    new daum.Postcode({
        oncomplete: function(data) {

        var addressDiv = document.getElementById('address');
         var addressInput = document.getElementById('addressInput');
      addressDiv.innerText = data.address;
        addressInput.value = data.address;
         document.getElementById('addressForm').submit();
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.

        }
    }).open();
    }

    function update5() {
      document.getElementById("update5").style.display = "none";
       document.getElementById("timeDiv").style.display = "none";
      document.getElementById("save5").style.display = "inline-block";
      document.getElementById("timeInput").style.display = "inline-block";
    }

    function save5() {
      document.getElementById("update5").style.display = "inline-block";
      document.getElementById("timeDiv").style.display = "inline-block";
      document.getElementById("save5").style.display = "none";
      document.getElementById("timeInput").style.display = "none";


 var startTimeSelect = document.getElementById("startTime");
  var endTimeSelect = document.getElementById("endTime");

  var startTime = startTimeSelect.options[startTimeSelect.selectedIndex].value;
  var endTime = endTimeSelect.options[endTimeSelect.selectedIndex].value;

  var timeRange = startTime + " " + endTime;

   var timeRangeInput = document.getElementById("timeRange");
  timeRangeInput.value = timeRange;
document.getElementById('timeForm').submit();
<!--  var timeForm = document.getElementById("timeForm");-->
<!--  var formData = new FormData(timeForm);-->
<!--  formData.append("timeRange", timeRange);-->
<!--console.log(formData);-->

<!-- timeForm.submit();-->

    }

    function update6() {
      document.getElementById("update6").style.display = "none";
       document.getElementById("deployeeDiv").style.display = "none";
      document.getElementById("save6").style.display = "inline-block";
      document.getElementById("deployeeInput").style.display = "inline-block";
    }

    function save6() {
      document.getElementById("update6").style.display = "inline-block";
      document.getElementById("deployeeDiv").style.display = "inline-block";
      document.getElementById("save6").style.display = "none";
      document.getElementById("deployeeInput").style.display = "none";

       var deployeeSelect = document.getElementById("deployeeSelect");
      var deployee = deployeeSelect.options[deployeeSelect.selectedIndex].value;



   var deployeeInput = document.getElementById("deployee");
  deployeeInput.value = deployee;
  document.getElementById('deployeeForm').submit();
    }

    function update7() {
      document.getElementById("update7").style.display = "none";
       document.getElementById("detailDiv").style.display = "none";
      document.getElementById("save7").style.display = "inline-block";
      document.getElementById("detailInput").style.display = "inline-block";
    }

    function save7() {
      document.getElementById("update7").style.display = "inline-block";
      document.getElementById("detailDiv").style.display = "inline-block";
      document.getElementById("save7").style.display = "none";
      document.getElementById("detailInput").style.display = "none";

      document.getElementById('detailForm').submit();
    }


    document.getElementById('fileInput').addEventListener('change', function(e) {
            var file = e.target.files[0];
            var formData = new FormData();
            formData.append('file', file);

            fetch('/file-upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(result => {
                console.log(result); // 서버 응답 출력

                if (result.imageUrl) {
                    showImage(result.imageUrl);
                    window.location.reload();
                }
            })
            .catch(error => {
                console.error(error); // 에러 처리
            });
        });

        function showImage(url) {
           var previewDiv = document.getElementById('imagePreview');
           console.log(previewDiv);
           previewDiv.src = "/resources/user/" + url;
        }

</script>
</body>
</html>