<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body layout:fragment="content">
<script>
   function api() {
    new daum.Postcode({
        oncomplete: function(data) {

        document.getElementById('address').value = data.address;
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
            // 예제를 참고하여 다양한 활용법을 확인해 보세요.
        }
    }).open();
    }
</script>
<div class="d-flex justify-content-center">
    <form method="post" action="/register">
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input name="user_email" type="email" class="form-control" id="email" placeholder="example@soomgo.com">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input name="user_password" type="password" class="form-control" id="password" placeholder="비밀번호를 입력해주세요">
        </div>
        <div class="mb-3">
            <label for= "name"class= "form-label">이름</label>
            <input name="user_name" type= "text"class= "form-control"id= "name"placeholder= "이름을 입력해주세요">
        </div>
<!--        <div class= "mb-3">-->
        <!-- 주소와 우편번호 버튼을 감싸는 div -->
        <div class = "row mb-3 align-items-center">
            <!-- 주소 입력 필드 -->
            <div class = "col-md-9 mb-md-0 mb-2">
        <label for= "address"class= "form-label" >주소</label>
            <input name="user_address" type= "text"class= "form-control"id= "address"placeholder = "주소를 입력해주세요" readonly>
            </div>

                <div class = "col-md-3 text-md-end">
            <button onclick="api()" type="button">우편번호</button>
        </div>
            </div>
        <div class = "mb-3">
            <label for ="phone" class="form-label">폰 번호</label>
        <input name="user_phonenum" type='tel'class=' form-control' id='phone' placeholder="휴대폰 번호를 입력하세요.">
        </div>
        <div class ="mb-3">
        <label for ="gender" class="form-label">성별</label>
        <select name="user_gender" class="form-control" id ="gender">
        <option value="남자">남자</option>
        <option value="여자">여자</option>
        </select>
        </div>

        <button type ="submit"class ="btn btn-primary"
        style ="width:100%;">회원가입
        </button>
    </form>

</div>
</body>
</html>